[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
django-seed = "*"
faker = "*"
django-debug-toolbar = "*"
locust = "*"
mysql-client = "*"
mysqlclient = "*"
django-redis = "*"
django-cacheops = "*"
pre-commit = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
